
#body{
    background-color: thistle;
  }
  .header{
    background-color: whitesmoke;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    position: fixed;
    top: 0;
    width: 100%;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #ddd;
  }
  
  li a.active {
    color: white;
    background-color: #4CAF50;
  }
#image
{
  height: 20%;
  width: 20%;
  float: left;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 50%;
}
.p1
{   display: block;
    margin-block-start: 30px;
    margin-block-end: 30px ;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-left :20px;
    font-family: cursive;
    font-size: 40px;
}
.p2
{   display: block;
    margin-block-start: 30px;
    margin-block-end: 30px ;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-left :20px;
    font-family: cursive;
    font-size: 25px;
}
.p2 .btn
{
    background-color: hotpink;
    padding: 5px 5px;
    border-radius: 20px;
    color:maroon;
    cursor: pointer;
}

    